@charset 'utf-8';

html { font-size: 100%; }
body { font-family: 'PT Sans', sans-serif; font-size: 1.4rem; color: #ffffff; }
h1, .h1, h2, .h2 { font-family: 'PT Sans', sans-serif; }

.wrapper { position: fixed; max-width:800px; height:100%; margin:0 auto;  box-shadow: 0 0 11px 1px grey; overflow: hidden;
  background-color: #518a9a; 
  background: -webkit-linear-gradient ( to bottom , #518a9a ,  #313a4a); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(to bottom , #518a9a ,  #313a4a); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(to bottom , #518a9a ,  #313a4a); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom , #518a9a ,  #313a4a); /* Standard syntax */}
.wrapper .container { max-width: 800px; padding: 0; position: relative; }

/*header*/
.header { z-index: 8888; height: 5.5rem; left: 0; position: absolute; right: 0; top: 0; box-shadow: 0 10px 10px -3px rgba(59, 97, 110, 1);
  background-color: #518a9a;
  background: -webkit-linear-gradient ( to bottom , #518a9a ,  #4e8292); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(to bottom , #518a9a ,  #4e8292); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(to bottom , #518a9a ,  #4e8292); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom , #518a9a ,  #4e8292); /* Standard syntax */}
.header-wrppr { position: relative; height: 100%; }
.header-lft { position: absolute; top: 0; left: 0; width: 5rem; padding: 1rem; }
.header-lft > img { max-width: 100%; cursor: pointer; }
.header-mid { position: absolute; top: 0; left: 5rem; right: 5rem; padding: 1.6rem 0; }
.header-rght { position: absolute; top: 0; right: 0; width: 5rem; padding: 1rem; }
.header-rght > img { max-width: 100%; cursor: pointer; }
.screen-title { font-size: 2rem; font-weight: 700; margin: 0; text-align: center; text-transform: uppercase; }

/*footer*/
.footer { z-index: 8989; height: 5.5rem; left: 0; position: absolute; right: 0; bottom: 0; box-shadow: 0 -10px 10px -3px rgba(37, 43, 55, 1);
  background-color: #303646;
  background: -webkit-linear-gradient ( to bottom , #303646 ,  #313a4a); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(to bottom , #303646 ,  #313a4a); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(to bottom , #303646 ,  #313a4a); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom , #303646 ,  #313a4a); /* Standard syntax */}
.footer-wrppr { position: relative; height: 100%; }
.app-nav { list-style-type: none; margin: 0; padding: 0; white-space: nowrap; }
.app-nav li { margin-left: -5px; display: inline-block; padding: 0 2.19rem; border-right: 1px solid #3c4256; border-left: 1px solid #21242f; }
.app-nav li:first-child { border-left: none; }
.app-nav li:last-child { border-right: none; }
.app-nav li a { height: 5.5rem; width: 5.5rem; display: block; padding: 0.7rem; }
.app-nav li a > img { max-width: 100%; }

/*screen global*/
.contnt-wrppr { overflow-y: scroll; width: 817px; padding-left: 15px; padding-right: 15px; }
.pg-content { padding: 5rem 0; }
.img-contnr.img-violation { border: 0.4rem solid #990000; }
.img-contnr.img-noviolation { border: 0.4rem solid #009933; }
.img-contnr.img-normalviolation { border: 0.4rem solid #cc9900; }
.btn-main { background-color: #528c9c; border: medium none; font-size: 2.0rem; font-weight: 700; border-radius: 15px; min-width: 24.6rem; }
.btn-main:hover, .btn-main:focus { background-color: #528c9c; color: #ffffff; }
.btn-full { width: 100%; }
  
/*main-page*/
.app-logo { font-family: Times New Roman, sans-serif; text-align: center; font-weight: bold; color: #3d5867; margin-top: 2rem; }
.app-logo > p { margin-bottom: 0; }
.main-txt { font-size: 4rem; margin-top: -0.7rem; }
.btm-txt { display: block; font-size: 1.4rem; margin-top: -1rem; }
.btm-txt > span { border-top: 0.3rem solid #be1e2d; }
.txt-official { font-size: 1.8rem; font-style: italic; margin: 2.5rem 0; text-align: center; }
.search-block { text-align: center; border-bottom: 0.1rem solid #ffffff; padding-bottom: 1.5rem; }
.txt-search { font-weight: 700; margin-bottom: 0.2rem; }
.search-box { border: medium none; border-radius: 15px; color: #3d5867; height: 4rem; padding-left: 5px; width: 20rem; float: left; }
.srch-elem { margin: 0 auto; width: 25rem; }
.btn-go { background-color: #528c9c; border: medium none; font-size: 2.0rem; font-weight: 700; border-radius: 50%; margin-left: 7px; padding: 0.6rem 0.8rem; float: left; }
.txt-or { display: block; font-weight: bold; margin: 2.5rem 0; }
.no-violationItem { margin-top: 4.0rem; }
.txt-noViolation { font-size: 1.8rem; font-style: italic; text-align: center; margin-bottom: 2.5rem; }
.info-prnt { margin: 0 auto; width: 40rem; }
.item-img { float: left; text-align: center; }
.img-contnr { border: 0.4rem solid #009933; border-radius: 50%; height: 12.5rem; overflow: hidden; width: 12.5rem; }
.img-contnr > img { max-width: 100%; }
.item-info { float: left; margin-left: 1rem; max-width: 65%; }
.loctd-at { display: inline-block; font-weight: 700; margin-top: 0.3rem; }
.item-name { font-size: 1.8rem; font-weight: 700; margin-bottom: 0; }
.item-address { font-weight: 700; margin-bottom: 0.5rem; }
.txt-lastInsp { font-weight: 700; margin-bottom: 0; }
.txt-lastUpdt { font-weight: 700; margin: 4rem 0 2rem; text-align: center; }
.item-ic { display: inline-block; height: auto; vertical-align: middle; width: 2.5rem; }
.item-ic > img { max-width: 100%; }
.item-def { font-weight: 700; margin-left: 5px; vertical-align: middle; }

/*detail page*/
.itm-detail { margin-top: 3rem; border-bottom: 0.2rem solid #ffffff; padding-bottom: 1rem; }
.txt-insp { margin: 0.8rem 0; }
.btn-insp { font-size: 1.8rem; padding-left: 18px; padding-right: 18px; margin-bottom: 0.6rem; }
.insp-date { float: left; }
.demerits { float: right; }
.result > li { display: inline-block; float: left; font-size: 1.3rem; text-align: center; font-weight: 700; }
.detail-data { padding: 0 0.8rem;  }
.data-head { list-style-type: none; margin: 0 0 1rem; padding: 0; }
.data-head > li { border-bottom: 0.2rem solid #ffffff; border-right: 0.2rem solid #ffffff; border-top: 0.2rem solid #ffffff; display: inline-block; float: left; font-size: 1.3rem; padding: 0.4rem 0; }
.data-head > li:first-child { border-left: 0.2rem solid #ffffff; }
.col1 { width: 24%; }
.col2 { width: 52%; }
.col3 { width: 24%; }
.data-desc { padding: 0; }
.data-desc > li { padding: 0 0.5rem; }
.data-desc > li.col2 { text-align: left; font-weight: 300; font-size: 1.2rem; font-style: italic; }
.insp-icns { list-style-type: none; padding: 0; text-align: center; }
.insp-icns > li { display: inline-block; height: auto; margin-left: 3px; width: 8%; margin-top: 3px; }
.insp-icns > li img { max-width: 100%; }



@media (min-width: 320px) and (max-width: 640px) {
	html { font-size: 62.5%; }
	
	/*main-page*/
	.info-prnt { width: 29rem; }
	.item-info { max-width: 52%; }
	.contnt-wrppr { width: 100%; }
	
	/*footer*/
	.app-nav li { padding: 0 1.16rem; }
}

@media (min-width: 768px) and (max-width: 1024px){
	.wrapper { min-width: 768px; }
	.wrapper .container { width: 100%; }
	.contnt-wrppr { width: 100%; }
	
	/*footer*/
	.app-nav li { padding: 0 1.99rem; }
	
	/*details*/
	.insp-icns > li { width: 5%; margin-left: 7px; }
}